// Pivot styling
// Author: Charlie Benjafield <me@cbenjafield.com>
// URI: https://cbenjafield.com

.pivot {

    &-row {

        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
            margin-bottom: theme('margin.4');
            color: theme('colors.red.700');
        }

        h1 {
            font-size: theme('fontSize.4xl');
        }

        h2 {
            font-size: theme('fontSize.3xl')
        }

        h3 {
            font-size: theme('fontSize.2xl')
        }

        h4 {
            font-size: theme('fontSize.xl')
        }

        p {
            margin-bottom: theme('margin.4');
            line-height: 1.625;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

}